/** @format */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f0f0f0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.selection {
	text-align: center;
	margin-bottom: 20px;
}

#booze-select {
	padding: 8px;
	font-size: 1rem;
}

.drink-images {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px;
	justify-items: center;
}

.drink-card {
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.drink-card img {
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0 0;
}

.drink-card h3 {
	margin: 10px 0;
}

.drink-details {
	display: none; /* Initially hide drink details */
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}

.drink-details h2 {
	margin-top: 0;
	font-size: 1.5rem;
}

.drink-details p {
	line-height: 1.6;
}

@media (max-width: 600px) {
	.container {
		padding: 10px;
	}

	.drink-images {
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}
}
