/**
 * Global Styles
 *
 * @format
 */

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	transition:
		background-color 0.3s ease,
		color 0.3s ease; /* Add transition for smooth theme change */
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
}

/* Drink Cards and Details */
.drink-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.drink-card {
	background-color: #f0f0f0;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.drink-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.drink-card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px 8px 0 0;
}

.drink-card h3 {
	padding: 10px;
	text-align: center;
	margin: 0;
	color: #333; /* Adjust text color for readability */
}

/* Drink Details */
.drink-details {
	display: none;
	margin-top: 20px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.drink-details.active {
	display: block;
}

.drink-details h2 {
	text-align: center;
	margin-bottom: 10px;
	color: #333; /* Adjust text color for readability */
}

.drink-details p {
	margin-bottom: 10px;
}

.drink-details ul {
	margin-bottom: 10px;
}

.drink-details img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: 8px;
}

/* Theme Switch */
#theme-switch {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

/* Scroll to Top Button */
#scroll-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		color 0.3s ease; /* Add transition for smooth hover effect */
}

#scroll-up:hover {
	background-color: #555;
}

/* Previous and Next Buttons */
#prev-btn,
#next-btn {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		color 0.3s ease; /* Add transition for smooth hover effect */
}

#prev-btn:hover,
#next-btn:hover {
	background-color: #555;
}

/* Dark Mode Styles */
.dark-theme {
	background-color: #333;
	color: #fff;
}

.dark-theme .container,
.dark-theme .drink-details {
	background-color: #444;
	color: #fff;
}

.dark-theme .drink-card {
	background-color: #555;
}

.dark-theme .drink-card h3,
.dark-theme .drink-details h2,
.dark-theme .drink-details p,
.dark-theme .drink-details li {
	color: #fff;
}

.dark-theme #theme-switch {
	color: #fff;
}

.dark-theme #scroll-up,
.dark-theme #prev-btn,
.dark-theme #next-btn {
	background-color: #fff;
	color: #333;
}

.dark-theme #scroll-up:hover,
.dark-theme #prev-btn:hover,
.dark-theme #next-btn:hover {
	background-color: #ddd;
	color: #333;
}
